body
  background: #8E2DE2
  background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2)
  background: linear-gradient(to top, #4A00E0, #8E2DE2)
  height: 100vh

  .logo
    font-family: 'Dancing Script', cursive
    font-size: 32px
